package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.service.impl.ServiceImpl;

import io.looyoo.common.common.utils.PageInfo;
import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;



@Service("${classname}Service")
 public class ${className}ServiceImpl  extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.selectById(${pk.attrname});
	}
	

	@Override
	public void save(${className}Entity ${classname}){
		${classname}Dao.insert(${classname});
	}
	
	@Override
	public void update(${className}Entity ${classname}){
		${classname}Dao.updateById(${classname});
	}
	
	@Override
	public void delete(${pk.attrType} ${pk.attrname}){
		${classname}Dao.deleteById(${pk.attrname});
	}
	
	@Override
	public void deleteBatch(${pk.attrType}[] ${pk.attrname}s){
		${classname}Dao.deleteBatchIds(Arrays.asList(${pk.attrname}s));
	}
	
	@Override
	public void queryList(PageInfo pageInfo) {
		Page<${className}Entity> page = new Page<${className}Entity>(pageInfo.getNowpage(), pageInfo.getSize());
		pageInfo.setRows(${classname}Dao.queryList(page, pageInfo.getCondition()));
	    pageInfo.setTotal(${classname}Dao.queryTotal(pageInfo.getCondition()));
	}
	
	
}
